<%-include('partials/header');-%>

<h1>Register</h1>

<% if (errorMessage) { %>
    <p><%= errorMessage %> </p>
<% } %>

<form action="/users/register" method="POST">
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email" placeholder="">

        <div class="name-group">
            <label>First Name</label>
            <input name="firstName" type="text" class="form-control" placeholder="">

            <label>Last Name</label>
            <input name="lastName" type="text" class="form-control" placeholder="">
        </div>

        <label>Date of Birth</label>
        <select name="DoB" class="form-control" placeholder="">
            <% currentYear = new Date().getFullYear() %> 
            <% for( let DoB = currentYear-80; DoB <currentYear; DoB++ ) { %>
                <option value="<%= DoB %>"><%= DoB %></option>
            <% } %>
        </select>

        <label>Password</label>
        <input type="text" class="form-control" name="password" placeholder="">
    </div>

    <button type="submit" class="btn btn-primary" name="button">Register</button>

</form>

<button class="btn btn-primary" name="button"><a href="/users/login">Login</a></button>

<%-include('partials/footer');-%>
